In [1]:
# To install mysql-connector uncomment the command bellow
# !pip install mysql-connector-python

In [2]:
# Import the connector under the alias connector
import mysql.connector as connector

In [3]:
# Task 1: Connecting to the MySQL database

config = {
    'user': 'your_username',  # Change the username and password and use your own
    'password': 'your_password', 
    'db': 'LittleLemonDB'
}
# connection = connector.connect(**congig)
try:
    conn = connector.connect(**config)
    print("A connection between MySQL and Python is successfully established.")
    print(f"Connected to database: {conn.database}")
    # Create a cursor object
    cursor = conn.cursor()
except connector.Error as err:
    print("Error No:", err.errno)
    print("Error Message:", err.msg)

A connection between MySQL and Python is successfully established.
Connected to database: littlelemondb

In [4]:
# Task 2: Query the database to show all tables within the database
try:    
    # Retrive all the tables' names from the database
    show_tables_query = "SHOW tables" 
    cursor.execute(show_tables_query)
    results = cursor.fetchall()    
    print(f"Tables in `{conn.database}` database:")
    for table in results:
        print(table[0])
    
except connector.Error as err:
    print("Error No:", err.errno)
    print("Error Message:", err.msg)

Tables in `littlelemondb` database:
bookings
customers
menuitems
menuitems_menus
menus
orderdelivery
orders
ordersview
staffs

In [5]:
# Task 3: Query with table JOIN

try:    
    # Retrive details for every customer that has placed an order > $60.
    join_query = """
        SELECT c.FullName, c.ContactNo, c.Email, o.TotalCost 
        FROM Customers AS c
            INNER JOIN orders AS o
            	ON c.CustomerID = o.CustomerID
        WHERE o.TotalCost > 60
    """ 
    cursor.execute(join_query)
    customers = cursor.fetchall()
    col = cursor.column_names
    print(f"Customer details:\n")
    print(f'{col[0]:25} {col[2]:28} {col[1]:18} {col[3]}')
    print(f'{'='*16:25} {'='*19:28} {'='*9:18} {'='*9}')

    for name, phone, email, spending in customers:
        print(f'{name:25} {email:28} {phone:18} {spending}')
            
except connector.Error as err:
    print("Error No:", err.errno)
    print("Error Message:", err.msg)

Customer details:

FullName                  Email                        ContactNo          TotalCost
================          ===================          =========          =========
Vanessa McCarthy          vanessa.mc@gmail.com         757536378          250.00
Marcos Romero             r_marcos@gmail.com           757536379          200.00
Diana Pinto               d_pinto@gmail.com            757536374          115.00

In [6]:
if conn.is_connected():
    cursor.close()
    print("Cursor is closed.")
    conn.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed.")

Cursor is closed.
MySQL connection is closed.